html, body, p {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
}
.app {
  position: relative;
}
input {
  padding: 10px;
  border: #ccc 1px solid;
  border-radius: 5px;
  min-width: 200px;
}
button {
  padding: 10px 20px;
  border: orange 1px solid;
  color: #fff;
  background-color: orange;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
}
button:hover, button:focus {
  outline: 0;
  opacity: .9;
}
