<template>
  <div class="employer-container tab-content">
    <div class="tab-title">Employer:</div>
    <input
      id="input2"
      type="number"
      name="employer"
      placeholder="Enter maximum offer"
      v-if="employerSumitted"
      v-model="employer"
    />
    <button v-if="employerSumitted" @click="handleEmployerSubmit">
      Submit
    </button>

    <div class="submitted-msg" v-if="!employerSumitted">
      Maximum offer value is submitted.
    </div>
  </div>
</template>

<script>
export default {
  name: "EmployerTab",
  props: {
    employerSumitted: Boolean
  },
  data() {
    return {
      employer: null
    };
  },
  methods: {
    handleEmployerSubmit() {
      this.$parent.$emit("handleEmployer", this.employer);
    }
  }
};
</script>
