<template>
  <div class="employee-container tab-content">
    <div class="tab-title">Employee:</div>
    <input
      id="input1"
      type="number"
      name="employee"
      placeholder="Enter minimum salary"
      v-if="employeeSumitted"
      v-model="employee"
    />
    <button
      class="submit"
      v-if="employeeSumitted"
      @click="onEmployeeSubmit"
      >
      Submit
    </button>
    <div class="submitted-msg" v-if="!employeeSumitted">
      Minimum expectations value is submitted.
    </div>
  </div>
</template>

<script>
export default {
  name: "EmployeeTab",
  props: {
    employeeSumitted: Boolean
  },
  data() {
    return {
      employee: null
    };
  },
  methods: {
    onEmployeeSubmit() {
      this.$parent.$emit("handleEmployee", this.employee);
    }
  }
};
</script>
<style>
  .submitted-msg {
    font-style: italic;
    font-size: 16px;
  }
</style>
