<template>
  <div class="header">
    Salary Negotiation Calculator
  </div>
</template>

<script>
export default {
  name: "Header"
};
</script>

<style>
  .header {
    background-color: #000000;
    padding: 20px;
    text-align: center;
    width: 100%;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
  }
</style>
