<template>
  <div class="error-msg">
    Please enter a value and then click submit button.
  </div>
</template>

<script>
export default {
  name: "InputError"
};
</script>

<style>
  .error-msg {
    width: 80%;
    padding-left: 40px;
    margin: -35px auto 0;
    font-size: 12px;
    color: red;
  }
</style>
