<template>
    <div class="modal">
        <div @click="closeModal" class="close">X</div>
        <div class="result">{{ result }}</div>
        <p>Maximum offer was: <span>{{ this.employer }}</span></p>
        <p>Minimum expected salary was: <span>{{ this.employee }}</span></p>
        <p>The temparature in London is: <span>{{ this.temperature}}</span></p>
    </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Modal",
  props: ["employer", "employee"],
  data: function() {
    return {
      result: null,
      temperature: null
    };
  },
  mounted() {
    if (this.employer - this.employee >= 0) {
        this.result = "Success";
    } else {
        this.result = "Failure";
    }
    //calculate temparature in London
    axios
      .get(
        "http://api.openweathermap.org/data/2.5/weather?q=London,uk&APPID=1a3ee08f3e377629fb39fb2696c36d78"
      )
      .then(res => {
        const temp = res.data.main.temp;
        this.temperature = (temp - 273.15).toFixed(2) + '°C';
      })
      .catch(e => console.error(e));

  },
    methods: {
        closeModal() {
            this.$emit("close-modal");
        }
    }
};
</script>

<style>
  .modal {
    position: absolute;
    top: 40%;
    left: calc(50% - 200px);
    width: 400px;
    height: 200px;
    padding: 20px;
    z-index: 1;
    background-color: white;
    border-radius: 10px;
    border: #ccc 1px solid;
  }
  .result {
    font-size: 20px;
    margin-bottom: 40px;
    font-weight: bold;
  }
  .close {
    text-align: right;
    cursor: pointer;
  }
  .modal p {
    margin-bottom: 20px;
  }
  .modal p span {
    font-weight: bold;
  }
</style>
