<template>
  <div class="select-container">
    <div
      class="employer-tab e-tab"
      :class="{ active: employerTabIsShown == true }"
      @click="showEmployer">
      Employer-Tab
    </div>
    <div
      class="employee-tab e-tab"
      :class="{ active: employerTabIsShown == false }"
      @click="showEmployee">
      Employee-Tab
    </div>
  </div>
</template>

<script>
export default {
  name: "SelectTab",

  props: {
    employerTabIsShown: Boolean
  },

  methods: {
    showEmployer() {
      this.$parent.$emit("showEmployer");
    },
    showEmployee() {
      this.$parent.$emit("showEmployee");
    }
  }
};
</script>
<style>
  .select-container {
    display: flex;
    width: 100%;
  }
  .e-tab {
    flex: 1;
    padding: 15px 0;
    text-align: center;
    border-bottom: 1px #ccc solid;
    background-color: #eee;
    font-size: 16px;
    text-transform: uppercase;
  }
  .e-tab.active {
    background-color: #000000;
    color: white;
  }
  .employer-tab {
    border-right: 1px solid #ccc;
  }
</style>
