<template>
  <div class="tab-container">
    <SelectTab :employerTabIsShown="employerTabIsShown"></SelectTab>
    <EmployerTab
      v-if="employerTabIsShown"
      :employerSumitted="employerSumitted"
    ></EmployerTab>
    <EmployeeTab
      v-if="!employerTabIsShown"
      :employeeSumitted="employeeSumitted"
    ></EmployeeTab>
  </div>
</template>

<script>
import SelectTab from "./SelectTab";
import EmployerTab from "./EmployerTab";
import EmployeeTab from "./EmployeeTab";

export default {
  name: "TabContainer",
  components: {
    SelectTab,
    EmployerTab,
    EmployeeTab
  },
  props: {
    employer: Number,
    employee: Number,
    employerTabIsShown: Boolean,
    employerSumitted: Boolean,
    employeeSumitted: Boolean
  }
};
</script>

<style>
.tab-container {
  width: 80%;
  border: #ccc 1px solid;
  padding-bottom: 20px;
  margin: 50px auto 0;
}
.tab-content {
  padding: 20px;
}
.tab-title {
  margin: 10px 20px 20px 0;
  font-size: 16px;
}
</style>
