<template>
  <div id="app" class="app">
    <Header></Header>
    <TabContainer
      @showEmployer="showEmployer"
      @showEmployee="showEmployee"
      @handleEmployer="handleEmployerSubmit"
      @handleEmployee="onEmployeeSubmit"
      :employerTabIsShown="employerTabIsShown"
      :employerSumitted="employerSumitted"
      :employeeSumitted="employeeSumitted"
    >
  </TabContainer>
  <InputError v-if="showError"></InputError>

  <Modal
      v-if="employee != null && employer != null"
      :employer="employer"
      :employee="employee"
      @close-modal="closeModal">
    </Modal>

  </div>
</template>

<script>
import Header from "./components/Header";
import TabContainer from "./components/TabContainer";
import InputError from "./components/InputError";
import Modal from "./components/Modal";

export default {
  name: "App",

  components: {
    Modal,
    Header,
    TabContainer,
    InputError
  },

  data() {
    return {
      employer: null,
      employee: null,
      employerTabIsShown: true,
      employerSumitted: true,
      employeeSumitted: true,
      showError: false
    };
  },

  methods: {
    showEmployer() {
      this.employerTabIsShown = true;
      this.showError = false;
    },

    showEmployee() {
      this.employerTabIsShown = false;
      this.showError = false;
    },

    onEmployeeSubmit(value) {
      if (!value) {
      this.showError = true;
      document.getElementById("input1").value = "";
    } else {
      this.showError = false;
      document.getElementById("input1").value = "";
      this.employee = parseInt(value);
      this.employeeSumitted = false;
    }
    },

    handleEmployerSubmit(value) {
      if (!value) {
      this.showError = true;
      document.getElementById("input2").value = "";
      } else {
      document.getElementById("input2").value = "";
      this.showError = false;
      this.employer = parseInt(value);
      this.employerSumitted = false;
     }
    },

    closeModal() {
      this.employee = null;
      this.employer = null;
      this.employerSumitted = true;
      this.employeeSumitted = true;
    }
  }
};
</script>
